<div class="container mt-4">
  <h4 class="mb-4">Gravar Perfil</h4>

  <form (ngSubmit)="gravarPerfil()" #perfilForm="ngForm" autocomplete="off">
    <div class="mb-3 row">
      <label for="idPerfil" class="col-sm-2 col-form-label">ID do Perfil</label>
      <div class="col-sm-2">
        <input type="number" id="idPerfil" class="form-control" [(ngModel)]="perfil.idPerfil" name="idPerfil" required>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="nomePerfil" class="col-sm-2 col-form-label">Nome do Perfil</label>
      <div class="col-sm-6">
        <input type="text" id="nomePerfil" class="form-control" [(ngModel)]="perfil.nome" name="nome" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!perfilForm.form.valid">Gravar</button>
  </form>
</div>
